.container{
    height: 630px;
    width: 420px;
    box-sizing: border-box;
    padding: 23px 23px;
    margin: 23px auto;
    border-radius: 18px;
    box-shadow: 15px 15px 10px darkgray;
    background-color: rgb(241, 198, 118)
}
.imga{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* border:4px solid aqua; */
    /* box-sizing: border-box; */
    
    /* height: 300px;
    /* width: 300px;  */

}
img{
    height: 250p;
    width: 300px;
    /* background-color: aqua; */
}
.header{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type="submit"]{
    margin-top:10px;
    font-size: 22px;
    border-radius: 10px;
    height: 60px;
    width: 140px;
    background-color: bisque;
    border: none;

}
.des{
    font-size: 20px;
}