@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Oswald:wght@200&family=Rubik&family=Work+Sans:wght@300;400&display=swap');
.App{
    display: flex;
    min-height: 100vh;
    background-image: url("../public/assets/homeback.png");
    background-size: cover;
    background-position: center;
    color: "black";
}